.sidebar {
  width: 280px;
  height: 100%;
  background-color: #3d3936; /* Gray-brown */
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #6b6b6b;
}

.sidebar-logo h2 {
  margin: 0;
}

.sidebar-nav {
  list-style: none;
  padding: 16px;
  margin: 20px 0;
  flex-grow: 1;
}

.sidebar-nav li a,
.sidebar-footer a {
  display: flex;
  align-items: center;
  padding: 16px;
  color: #fff;
  text-decoration: none;
  /* transition: background-color 0.3s, color 0.3s; */
  transition: ease-in-out 0.2s;
}

.sidebar-nav li a:hover,
.sidebar-footer a:hover,
.sidebar-nav li a:focus,
.sidebar-footer a:focus,
.sidebar-nav li a.active,
.sidebar-footer a.active {
  background-color: #ffffff;
  color: #947550;
  border-radius: 12px;
}

.sidebar-nav li a:hover img,
.sidebar-footer a:hover img,
.sidebar-nav li a:focus img,
.sidebar-footer a:focus img,
.sidebar-nav li a.active img,
.sidebar-footer a.active img {
  filter: invert(52%) sepia(13%) saturate(1480%) hue-rotate(0deg)
    brightness(90%) contrast(89%);
}

.sidebar-nav li a img,
.sidebar-footer a img {
  margin-right: 10px;
}

.sidebar-footer {
  margin: 0 20px 20px;
  border: 1px solid #6b6b6b;
  border-radius: 12px;
}

.ml-auto {
  margin-left: auto;
}
